<suite name="myTestSuite">
<parameter name="browser" value="Chrome"></parameter>
	<test name="myTest">
	<listeners>
	
	
	<listener class-name="liseners.Liseners"> </listener>
	<listener class-name="liseners.RetryListener"></listener>
	
	 </listeners>
	 
		<classes>
		
			<!--   <class name="testscripts.Categorytest"></class>
			<class name="testscripts.Foottexttest"></class>
			<class name="testscripts.Logintest"></class>
			
			
			<class name="testscripts.managecontacttest"></class>-->
			<class name="testscripts.Managenews"></class>
		</classes>
	
	</test>

	
</suite>